@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.application{
  display: flex;
  justify-content: space-between;
  
}

.applicationUrl{
  display: flex;
  justify-content: space-between;
  
}

.nav-item {
  margin: 0 20px;
}

.infoTab {
  position: absolute;
  left: 32%;
  transform: translate(-50%);
  margin-top: 5%;
  
  
}
.customAddIcon {
  right: 50px;
}